html, body {
    height: auto !important;
    height: 100%; /* for IE 6 */
    min-height: 100%;
}

#container {
    height: auto !important;
    height: 93%;
    min-height: 93%;
}

.body {
    margin: 30;
    padding: 0;
    font-size: 140%;
    padding-left: 280px;
    position: relative;
}

.navigation {
    float: left;
    border: 1px solid #369;
    margin: 0px 20px 20px 0px;
    padding: 5px;
    z-index: 1;
    width: 230px;
    margin-left: -260px;
}

.navigation h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    padding: 3px;
}

.footer {
    clear: both;
    font-size: 80%;
    padding: 0 5px;
}

.inputArea {
    background-color: #eee;
    padding: 25px;
    border: 2px solid #dce;
    margin: 25px 25px 5px 10px;
}

.qa {
    background-color: #eee;
    border: 2px solid #dce;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

.qa div {
    padding: 5px;
}